In [1]:
import numpy as np
import pandas as pd

In [2]:
df_movies = pd.read_csv('movies_dataset.csv', sep=',')

C:\Users\rodal\AppData\Local\Temp\ipykernel_35812\4173108300.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies = pd.read_csv('movies_dataset.csv', sep=',')

In [3]:
df_movies.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [4]:
df_movies_shape = df_movies.shape
print(df_movies_shape)

(45466, 24)

1.- Start by deleting the columns are not going to be usefull

In [5]:
df_movies = df_movies.drop(['video','imdb_id','adult','original_title','poster_path','homepage'], axis=1)
df_movies.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0

2.- Desanidar las columnas con estructura tipo .json (son 5:  'belongs_to_collection','genres','production_companies','production_countries','spoken_languages')

In [6]:
type(df_movies)

pandas.core.frame.DataFrame

2.1 Desanidar 'genres'

In [7]:
import ast

In [8]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [9]:
df_movies['genres'] = df_movies['genres'].apply(convert)

In [10]:
df_movies.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0
1,NaN,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0

2.2 Desanidar 'belongs_to_collection'

In [11]:
df_movies['belongs_to_collection'][0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [12]:
import json

In [13]:
def dictV_to_None(Dictvalue):
    if pd.isna(Dictvalue):
        return None
    else:
        return ast.literal_eval(Dictvalue)

In [14]:
df_movies['belongs_to_collection'] = df_movies['belongs_to_collection'].apply(dictV_to_None)

In [15]:
df_movies[['1','belongs_to_collection','3','4']] = pd.json_normalize(df_movies['belongs_to_collection']).fillna('')

In [16]:
df_movies = df_movies.drop(['1','3','4'], axis=1)
df_movies.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0
1,,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0

2.3 Desanidar 'production_companies'

In [17]:
df_movies.iloc[[500],[7]]

                                  production_companies
500  [{'name': 'Columbia Pictures', 'id': 5}, {'nam...

In [18]:
df_movies.isnull().sum()

belongs_to_collection        0
budget                       0
genres                       0
id                           0
original_language           11
overview                   954
popularity                   5
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
vote_average                 6
vote_count                   6
dtype: int64

In [19]:
df_movies['production_companies'] = df_movies['production_companies'].fillna("[{'name':'None','id':'None'}]")

In [20]:
df_movies['production_companies'] = df_movies['production_companies'].replace("[{'name':'None','id':'None'}]", None)

Proceso TEST para desanidar 'production_compaies'

In [21]:
#df_test_desanidadf = df_movies['production_companies'].apply(dictV_to_None)

In [22]:
#df_test_desanidar = pd.DataFrame(df_test_desanidar)
#df_test_desanidar.head(3)

In [23]:
#df_test_desanidar['production_companies']

In [24]:
def convert2(obj):
    if obj is None:
        return []
    
    if isinstance(obj, bool):
        return []
    
    L = []
    for i in obj:
        L.append(i['name'])
    return L

In [25]:
#df_test_desanidar = df_test_desanidar['production_companies'].apply(convert2)

In [26]:
#df_test_desanidar = pd.DataFrame(df_test_desanidar)
#df_test_desanidar.head(3)

In [27]:
#df_test_desanidadf = df_movies['production_companies'].apply(dictV_to_None)

Ya logrado en el TEST, se procede a aplicar al df_movies

In [28]:
df_movies['production_companies'] = df_movies['production_companies'].apply(dictV_to_None)

In [29]:
# Revizar si presenta algún cambio
df_movies.head(1)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0

In [30]:
df_movies['production_companies'] = df_movies['production_companies'].apply(convert2)

In [31]:
# Revisar que se haya desanidado correctamente
df_movies.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0
1,,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0

2.4 Desanidar 'production_countries'

In [32]:
df_movies['production_countries']

0        [{'iso_3166_1': 'US', 'name': 'United States o...
1        [{'iso_3166_1': 'US', 'name': 'United States o...
2        [{'iso_3166_1': 'US', 'name': 'United States o...
3        [{'iso_3166_1': 'US', 'name': 'United States o...
4        [{'iso_3166_1': 'US', 'name': 'United States o...
                               ...
45461               [{'iso_3166_1': 'IR', 'name': 'Iran'}]
45462        [{'iso_3166_1': 'PH', 'name': 'Philippines'}]
45463    [{'iso_3166_1': 'US', 'name': 'United States o...
45464             [{'iso_3166_1': 'RU', 'name': 'Russia'}]
45465     [{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]
Name: production_countries, Length: 45466, dtype: object

In [33]:
import re

def convert3(obj):
    if obj is None:
        return []

    try:
        pattern = r"'name':\s+'(.*?)'"
        matches = re.findall(pattern, obj)
        return matches
    except TypeError:
        return []

Proceso TEST para desanidar 'production_countries'

In [34]:
#df_test_desanidar = df_movies['production_countries'].apply(convert3)

In [35]:
#df_test_desanidar.head(3)

In [36]:
#df_test_desanidar = pd.DataFrame(df_test_desanidar)
#df_test_desanidar.head(3)

Ya logrado en el TEST, se procede a aplicar al df_movies

In [37]:
df_movies['production_countries'] = df_movies['production_countries'].apply(convert3)

In [38]:
df_movies.head(1)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0

2.5 Desanidar 'spoken_laguages'

In [39]:
df_movies['spoken_languages'] = df_movies['spoken_languages'].apply(convert3)

In [40]:
df_movies.head(3)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,5415.0
1,,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,Grumpy Old Men Collection,0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0

3.- Ya habiendo desanidado ahora:
Los valores nulos de los campos 'revenue' y 'budget' deben ser rellenados por el número 0

In [41]:
df_movies[['revenue','budget']].isnull().sum()

revenue    6
budget     0
dtype: int64

In [42]:
df_movies['revenue'] = df_movies['revenue'].fillna(0)
df_movies['budget'] = df_movies['budget'].fillna(0)

In [43]:
df_movies[['revenue','budget']].isnull().sum()

revenue    0
budget     0
dtype: int64

3.1 Ya quitados los valores null, se crea la columna 'return' con los campos 'revenue' y 'budget' (revenue / budget). cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0.

In [44]:
df_movies['revenue'] = df_movies['revenue'].astype(float)

In [45]:
df_movies['budget'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 45466 entries, 0 to 45465
Series name: budget
Non-Null Count  Dtype
--------------  -----
45466 non-null  object
dtypes: object(1)
memory usage: 355.3+ KB

In [46]:
#Transformar errores por presecia de str a NaN
df_movies['budget'] = pd.to_numeric(df_movies['budget'], errors='coerce')

In [47]:
#Transformar valores de la columna a float
df_movies['budget'] = df_movies['budget'].astype(float)

In [48]:
#Creación de nueva columna 'return', no hice el porcentaje porque no lo pedían así, pero sería multiplicado por 100
df_movies['return'] = df_movies['revenue']/df_movies['budget']

In [49]:
df_movies.head(3)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,return
0,Toy Story Collection,30000000.0,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,5415.0,12.451801
1,,65000000.0,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,4.043035
2,Grumpy Old Men Collection,0.0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,NaN

In [50]:
# Replace NaN values with 0
df_movies['return'] = df_movies['return'].fillna(0)

In [51]:
df_movies.head(3)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,return
0,Toy Story Collection,30000000.0,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,5415.0,12.451801
1,,65000000.0,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,4.043035
2,Grumpy Old Men Collection,0.0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,0.000000

4.- Los valores nulos del campo release date deben eliminarse

In [52]:
# Contamos cuantos valores nulos se tienen
df_movies[['release_date']].isnull().sum()

release_date    87
dtype: int64

In [53]:
df_movies.shape

(45466, 19)

In [54]:
# Eliminamos las filas con valores nulos en el DF
df_movies.dropna(subset=['release_date'], inplace=True)

In [55]:
df_movies[['release_date']].isnull().sum()

release_date    0
dtype: int64

In [56]:
# Comparamos el shape del DF
df_movies.shape

(45379, 19)

4.1 De haber fechas, deberán tener el formato AAAA-mm-dd

In [57]:
# Codigo para identificar el formato que está causando error
# Convert the 'release_date' column to datetime format
df_movies['release_date'] = pd.to_datetime(df_movies['release_date'], format='%Y-%m-%d', errors='coerce')

# Identify the rows with invalid dates
invalid_rows = df_movies['release_date'].isnull()
invalid_values = df_movies.loc[invalid_rows, 'release_date']

print(invalid_values)

19730   NaT
29503   NaT
35587   NaT
Name: release_date, dtype: datetime64[ns]

In [58]:
df_movies['release_date'].iloc[29503]

Timestamp('2010-09-23 00:00:00')

In [59]:
# Convert the 'release_date' column to datetime format
df_movies['release_date'] = pd.to_datetime(df_movies['release_date'], format='%Y-%m-%d', errors='coerce')

# Keep only the date portion
df_movies['release_date'] = df_movies['release_date'].dt.date

In [60]:
# Convert the 'release_date' column to datetime format
df_movies['release_date'] = pd.to_datetime(df_movies['release_date'], format='%Y-%m-%d')

In [61]:
df_movies.iloc[29503]

belongs_to_collection
budget                                                          11000000.0
genres                                    [Crime, Drama, Horror, Thriller]
id                                                                  101669
original_language                                                       en
overview                 Crazed members of a sadistic family return to ...
popularity                                                        5.165083
production_companies     [Troma Entertainment, Rat Entertainment, The G...
production_countries                            [United States of America]
release_date                                           2010-09-23 00:00:00
revenue                                                                0.0
runtime                                                              112.0
spoken_languages                                                 [English]
status                                                            Released
tagline                                                   Don't Misbehave.
title                                                         Mother's Day
vote_average                                                           6.3
vote_count                                                           126.0
return                                                                 0.0
Name: 29534, dtype: object

In [62]:
# Convert the datetime values back to string format with the desired format
df_movies['release_date'] = df_movies['release_date'].dt.strftime('%Y-%m-%d')

In [63]:
# Comparar que después de convertir a str el formato de fecha solo nos quedan los valores de año-mes-dia sin horas
df_movies.iloc[29503]

belongs_to_collection
budget                                                          11000000.0
genres                                    [Crime, Drama, Horror, Thriller]
id                                                                  101669
original_language                                                       en
overview                 Crazed members of a sadistic family return to ...
popularity                                                        5.165083
production_companies     [Troma Entertainment, Rat Entertainment, The G...
production_countries                            [United States of America]
release_date                                                    2010-09-23
revenue                                                                0.0
runtime                                                              112.0
spoken_languages                                                 [English]
status                                                            Released
tagline                                                   Don't Misbehave.
title                                                         Mother's Day
vote_average                                                           6.3
vote_count                                                           126.0
return                                                                 0.0
Name: 29534, dtype: object

Ya normailzada 'release_date', crear una nueva columna 'release_year' donde extraerá el año de la fecha de estreno.

In [64]:
df_movies['release_date'] = pd.to_datetime(df_movies['release_date'])

In [65]:
# Revisamos si algún valor es nan
df_movies['release_date'].isna().sum()

3

In [66]:
# Como si encontramos valores nan los borramos del dataset
df_movies.dropna(subset = ['release_date'], inplace=True)

In [67]:
# Extract the year and create a new column named 'year'
df_movies['release_year'] = df_movies['release_date'].dt.year.astype(int)

In [68]:
# Revisamos si algún valor es nan
df_movies['release_year'].isna().sum()

0

In [69]:
df_movies.head(1)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,return,release_year
0,Toy Story Collection,30000000.0,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,5415.0,12.451801,1995

In [70]:
# De igual forma notemos que regresamos el formato de date, por lo que hay que regresarlo a su formato str para mejor presentación
df_movies.iloc[29503]

belongs_to_collection                          Batman Unlimited Collection
budget                                                                 0.0
genres                                         [Action, Animation, Family]
id                                                                  327418
original_language                                                       en
overview                 Gotham City is under siege by a series of biza...
popularity                                                        8.059946
production_companies                              [Warner Bros. Animation]
production_countries                            [United States of America]
release_date                                           2015-05-12 00:00:00
revenue                                                                0.0
runtime                                                               78.0
spoken_languages                                                 [English]
status                                                            Released
tagline                                 Hi-Tech, High Stakes, High Danger!
title                                   Batman Unlimited: Animal Instincts
vote_average                                                           5.5
vote_count                                                            54.0
return                                                                 0.0
release_year                                                          2015
Name: 29536, dtype: object

In [71]:
# Convert the datetime values back to string format with the desired format
df_movies['release_date'] = df_movies['release_date'].dt.strftime('%Y-%m-%d')

In [72]:
df_movies.head(1)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,return,release_year
0,Toy Story Collection,30000000.0,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,5415.0,12.451801,1995

In [73]:
df_movies.shape

(45376, 20)

Creación del nuevo FILE .csv (movies_normalized)

In [74]:
df_movies.to_csv('C:/Users/rodal/Documents/Henry_DS_FT_11/Course_HW/Proyecto_Movies_1/ETL_Project_1/movies_normalized.csv', index=False)

Revisar que se haya creado correctamente

In [75]:
df_movies_normalized = pd.read_csv('movies_normalized.csv', sep=',')
df_movies_normalized.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,return,release_year
0,Toy Story Collection,30000000.0,"['Animation', 'Comedy', 'Family']",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],1995-10-30,373554033.0,81.0,['English'],Released,NaN,Toy Story,7.7,5415.0,12.451801,1995
1,NaN,65000000.0,"['Adventure', 'Fantasy', 'Family']",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],1995-12-15,262797249.0,104.0,"['English', 'Français']",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,4.043035,1995

In [76]:
df_movies_normalized.shape

(45376, 20)