In [1]:
import numpy as np
import pandas as pd
import ast
import json

In [2]:
df_credits = pd.read_csv('credits.csv', sep=',')
df_credits.head(2)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844

In [3]:
df_credits_shape = df_credits.shape
print(df_credits_shape)

(45476, 3)

In [4]:
type(df_credits)

pandas.core.frame.DataFrame

1.- Desanidar la columna 'cast'

In [5]:
def dictV_to_None(Dictvalue):
    if pd.isna(Dictvalue):
        return None
    else:
        return ast.literal_eval(Dictvalue)

In [6]:
df_credits['cast'] = df_credits['cast'].apply(dictV_to_None)

In [7]:
df_credits.head(3)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602

In [8]:
df_credits.isna().sum()

cast    0
crew    0
id      0
dtype: int64

In [9]:
def convert2(obj):
    if obj is None:
        return []
    
    if isinstance(obj, bool):
        return []
    
    L = []
    for i in obj:
        L.append(i['name'])
    return L

1.1 Se hace un TEST para desanidar cast

In [10]:
#df_cast_desanidado = df_credits['cast'].apply(convert2)

In [11]:
#df_cast_desanidado.head(3)

1.2 Ya funcional el TEST, se aplica el cambio en la tabla original

In [12]:
df_credits['cast'] = df_credits['cast'].apply(convert2)

In [13]:
df_credits.head(3)

,cast,crew,id
0,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602

2.- Desanidar columna 'crew'

In [14]:
import re

def convert3(obj):
    if obj is None:
        return []

    try:
        pattern = r"'name':\s+'(.*?)'"
        matches = re.findall(pattern, obj)
        return matches
    except TypeError:
        return []

In [15]:
import re

def convert4(obj):
    if obj is None:
        return []

    try:
        pattern = r"'job':\s+'Director'.*?'name':\s+'(.*?)'"
        matches = re.findall(pattern, obj, re.DOTALL)
        return matches
    except TypeError:
        return []

In [16]:
df_credits['directors'] = df_credits['crew'].apply(convert4)

In [17]:
# Hice un drop de la columna original 'crew'
df_credits = df_credits.drop(['crew'], axis= 1)

In [18]:
df_credits.head(3)

                                                cast     id        directors
0  [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...    862  [John Lasseter]
1  [Robin Williams, Jonathan Hyde, Kirsten Dunst,...   8844   [Joe Johnston]
2  [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...  15602  [Howard Deutch]

In [19]:
df_credits.isna().sum()
#df_credits.isnull().sum()

cast         0
id           0
directors    0
dtype: int64

In [20]:
df_credits.shape

(45476, 3)

Creaci√≥n del nuevo FILE .csv (credits_normalized)

In [21]:
df_credits.to_csv('C:/Users/rodal/Documents/Henry_DS_FT_11/Course_HW/Proyecto_Movies_1/ETL_Project_1/credits_normalized.csv', index=False)

Revisar que se haya creado correctamente

In [22]:
df_credits_normalized = pd.read_csv('credits_normalized.csv', sep=',')
df_credits_normalized.head(2)

                                                cast    id          directors
0  ['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...   862  ['John Lasseter']
1  ['Robin Williams', 'Jonathan Hyde', 'Kirsten D...  8844   ['Joe Johnston']

In [23]:
df_credits_normalized.shape

(45476, 3)